---
permalink: /index.html
layout: page
title: Leandro Benedet Garcia - Senior Gameplay Engineer | Unity, Godot, Multiplayer & VR
description: Senior Gameplay Engineer with 13+ years of coding experience. Specializing in multiplayer, physics, VR and core game systems using Unity (C#), Godot (GDScript, C# and C++).
---
<section class="section about-me" data-section="about-me">
  <div class="container">
    <div class="section-heading">
      <h2>About Me</h2>
      <div class="line-dec"></div>
      <p>
        I am a Senior Gameplay Engineer with 13+ years of software development in total including 6+ years of experience working directly on games and interactive applications. My professional experience with game engines are Unity and C# and in Godot with GDScript, C# and C++.
      </p>
      <p>
        My experience includes gameplay and game systems, networked multiplayer, authoritative dedicated servers, game AI, VR, physics, procedural generation and performance optimization. I have also worked as a project/technical lead, reviewing code and coordinating the work of other programmers.
      </p>
    </div>
  </div>
</section>

{% for curr_category in site.data.works.content %}
<section class="section my-work" data-section="{{ curr_category.category }}">
  <div class="section-heading">
    <h2>{{ curr_category.title}}</h2>
    <div class="line-dec"></div>
    <span>{{ curr_category.description}}</span>
  </div>

  {% if curr_category.single_column %}
    <div class="row">
  {% endif %}

  {% for curr_work in curr_category.items %}
    {% if curr_work.imagebar %}
    <div class="work row" data-section="{{ curr_work.id }}">
      {% if curr_work.highlight_video %}
        <video controls muted loop width="100%">
          <source src="{{ curr_work.highlight_video }}" type="video/mp4" />
          </video>
        {% endif %}
        <div class="col-md-6">
          <img src="{{ curr_work.cover }}" />
          {% for curr_video in curr_work.imagebar.videos %}
            <video
                {% if curr_video.autoplay %}
                  autoplay
                {%endif%}
                loop muted width="100%">
              <source src="{{ curr_video.url }}" type="video/webm; codecs=vp9">
            </video>
          {% endfor %}
          {% for curr_image in curr_work.imagebar.images %}
            <img src="{{ curr_image }}" />
          {% endfor %}
        </div>
        <div class="description col-md-6">
      {% else %}
        <div class="work col-md-6 single-column" data-section="{{ curr_work.id }}">
          <div class="description">
            <img src="{{ curr_work.cover }}" />

      {% endif %}
        <h3>{{ curr_work.title }}</h3>
        {{ curr_work.description }}
        <ul>
          {% if curr_work.client %}
            <li><b>Client</b>:
              {% if curr_work.client.url  %}
                <a href="{{ curr_work.client.url }}" target="_blank" rel="noopener">{{ curr_work.client.name }}</a>
              {% else  %}
                {{ curr_work.client.name }}
              {% endif %}
            </li>
          {% endif %}
          {% if curr_work.role  %}
            <li><b>Role</b>: {{ curr_work.role }}</li>
          {% endif %}
          {% if curr_work.objective  %}
            <li><b>Objective</b>: {{ curr_work.objective }}</li>
          {% endif %}
          {% if curr_work.delivered  %}
          <li><b>Delivered</b>: {{ curr_work.delivered }}</li>
          {% endif %}
        </ul>

        <h4>{{ curr_work.subtitle }}</h4>
        <ul>
          {% for curr_work_done in curr_work.work_done %}
            <li>{{ curr_work_done }}</li>
          {% endfor %}
        </ul>

        {% if curr_work.where_to_play %}
          <h4>Where to Play</h4>
          <div style="text-align: center;">
            {% for curr_link in curr_work.where_to_play %}
              <a target="_blank" rel="noopener" href="{{ curr_link.url }}" aria-label="Link to play {{ curr_work.title }} on {{ curr_link.name }}">
                <img alt="Play {{ curr_work.title }} on {{ curr_link.name }}" src="{{ curr_link.icon }}" />
              </a>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  {% endfor %}

  {% if curr_category.single_column %}
    </div>
  {% endif %}
</section>
{% endfor %}

<section class="section my-services" data-section="general-skills">
  <div class="container">
    <div class="section-heading">
      <h2>Technical Expertise</h2>
      <div class="line-dec"></div>

    </div>
    <div class="row">
      <div class="col-sm-6 work single-column">
        <div class="description">
          <img src="/portfolio/assets/images/icons/godot.svg" />
          <h3>Godot Game Engine</h3>
          <div>
            Professional Experience:
            <ul>
              <li>3 Years of Work Experience</li>
              <li>Contributor with several merged <a href="https://github.com/search?q=org%3Agodotengine%20author%3Aleandro-benedet-garcia%20is%3Apr%20is%3Amerged&type=pullrequests">Pull Requests</a></li>
              <li>Multiplayer experience with built-in networking capabilities.</li>
              <li>Gameplay and game systems development</li>
              <li>C#, GDscript, C++ (with GdExtensions and modules)</li>
              <li>Performance optimization with built-in profilers and custom game engine builds.</li>
              <li>AI and procedural systems</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-sm-6 work single-column">
        <div class="description">
          <img src="/portfolio/assets/images/icons/unity.svg" />
          <h3>Unity Game Engine</h3>
          <div>
            Professional Experience:
            <ul>
              <li>6 Years of Work Experience</li>
              <li>Gameplay and game systems development</li>
              <li>Multiplayer Photon, Fish.net or Netcode for GameObjects</li>
              <li>VR with Meta Quest 2</li>
              <li>AI and procedural systems</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-sm-6 work single-column">
        <div class="description">
          <img src="/portfolio/assets/images/icons/docker.svg" />
          <h3>Docker</h3>
          <div>
            Professional Experience:
            <ul>
              <li>10 Years of Work Experience</li>
              <li>Used for implementation of dedicated game servers and self hosting</li>
              <li>Unit testing</li>
              <li>Creation of automated builds</li>
              <li>Creation of dedicated servers</li>
              <li>VR with Oculus Quest 2 (they were not called Meta Quest 2 at the time)</li>
              <li>Authoritative dedicated servers</li>
              <li>Server/database integration</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-sm-6 work single-column">
        <div class="description">
          <div class="service-icon">
            <img src="/portfolio/assets/images/icons/github.svg" />
          </div>
          <h3>GitHub</h3>
          <div>
            Professional Experience:
            <ul>
              <li>Unit testing.</li>
              <li>Creation of GitHub Actions for automated builds targeting virtually any platform.</li>
              <li>Team repository management.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section my-work" data-section="pricing">
  <div class="container">
    <div class="section-heading">
      <h2>Pricing</h2>
      <div class="line-dec"></div>
      <span>How much for my work? Also, make sure to read my <a href="terms_of_service.html">Terms of
          Service</a></span>
    </div>
  </div>
  <div class="row">
    <div class="work col-md-6 single-column">
      <div class="description">
        <p>
          Details about my pricing for contracts can be read in my <a href="terms_of_service.html">Terms of Service</a> page.
        </p>

        <h2>Preferred payment methods</h2>
        <ul>
          <li>Paypal.</li>
          <li>CashApp.</li>
          <li>Bank Transfer (Direct deposit or international transfer).</li>
        </ul>
        <h2>Payment period</h2>
        <p>
          My preferred payment period is weekly or biweekly. But regular montly payment period is fine too.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section contact-me">
  <div class="container">
    <div class="section-heading">
      <h2>Contact Me</h2>
      <div class="line-dec"></div>
      <span>You may contact me trough:</span>
    </div>
    <div class="row">
      <div class="right-content">
        <div class="container">
          <div class="row">

            <div class="col-md-6">
              <div class="row">
                <div class="col-md-4">
                  <img src="/portfolio/assets/images/email.png">
                </div>
                <div class="col-md-8">
                  Email: <a href="mailto:leandro.benedet.garcia@gmail.com">leandro.benedet.garcia@gmail.com</a>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="row">
                <div class="col-md-4">
                  <img src="/portfolio/assets/images/icons/discord.svg">
                </div>
                <div class="col-md-8">
                  Discord Username Cerberus1746
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
