<i class="fa fa-bars" id="menu-toggle"></i>
<div id="menu" class="menu">
  <i class="fa fa-times" id="menu-close"></i>
  <div class="container">
    <div class="image">
      <a href="/portfolio/index.html"><img src="/portfolio/assets/images/author-image.jpg" alt="" /></a>
    </div>
    <div class="author-content">
      <h1>Leandro Benedet Garcia</h1>
    </div>
    <nav class="main-nav" role="navigation">
      <ul class="main-menu">
        <li><a href="/portfolio/index.html#about-me">Home Page</a></li>
        <li><a href="/portfolio/terms_of_service.html#terms">Terms of Service</a></li>
        {% for curr_category in site.data.works.content %}
        <li><a href="/portfolio/index.html#{{ curr_category.category }}">{{ curr_category.title }}</a></li>
        {% endfor %}
        <li><a href="/portfolio/index.html#general-skills">Technical Expertise</a></li>
        <li><a href="/portfolio/index.html#pricing">Pricing</a></li>
      </ul>
      <div class="social-network">
        <ul class="social-icons">
          <li>
            <a href="https://github.com/leandro-benedet-garcia"><i class="fa fa-github"></i>GitHub</a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/leandrobgarcia/"><i class="fa fa-linkedin"></i>LinkedIn</a>
          </li>
          <li>
            <a href="https://codeberg.org/cerberus1746"><img src="/portfolio/assets/images/icons/codeberg.svg" />Codeberg</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="copyright-text">
      <p>Copyright 2026 Leandro Benedet Garcia</p>
    </div>
  </div>
</div>
